{% load wagtailcore_tags wagtailimages_tags %}
{% if self.cards|length %}
    <div class="my-4">
        <h2 class="text-xl font-medium prose">{{ self.heading }}</h2>
    </div>
{% endif %}
<div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3">
    {% for card in self.cards %}
        <div class="flex flex-col h-full overflow-hidden bg-slate-50 md:rounded md:shadow-xl">
            <div>{% image card.image fill-1000x500 %}</div>
            <div class="p-4">
                <div>
                    <h2 class="text-lg font-medium prose">{{ card.title }}</h2>
                    <div class="my-2 prose prose-p:text-sm prose-ul:text-sm">{{ card.body|richtext }}</div>
                </div>
                <div class="">
                    {% comment %} <a href="{% pageurl post %}" class="prose link link-primary">Devamını oku</a> {% endcomment %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
